
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*commom start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common end*/ 
/*header start*/
header{
	padding: 20px 0;
}
.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.logo{
	margin-top: 16px;
	width: 10%;
	/*border: 1px solid red;*/
	float: left;
	color: #000000;
}
.logo img{
	width: 100%;

}
.menu{
	width: 70%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 50px;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #626262;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header end*/


@font-face{
	src: url(font/opensans/OpenSans-Bold.ttf);
	font-family: OpenSans-Bold;
}

h1{
	font-family: OpenSans-Bold;
	font-weight: 700;
}